
    .banner {
        background-image: url("../images/chris-dan-11-dans-fav.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 75vh;
    }
