.page-section {
  margin: 0 auto;
  max-width: var(--size-content);
  padding: var(--size-gutter);
}

p.about-text {
  text-align: justify;
}
.text-align-center {
  text-align: center;
}

.banner {
  background-image: url("../images/chris-dan-11-dans-fav.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 75vh;
}

/* reorganize variables */
.album-container {
  display: flex;
}

.album-description-container,
.album-image-container {
  width: 50%;
}

.album-description-container {
  padding: 0 var(--space-2) 0 var(--space-2);
  /* display: flex; */
}

.soundcloud-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
}
.flex-main-center {
  justify-content: center;
}
.soundcloud-button {
  /* flex-grow: 1; */
}

.divider {
  min-height: 5px;
  background-color: var(--black);
}
